<template>
  <v-card
    :loading="loading"
    class="mx-auto my-12"
    min-height="400"
    max-width="500"
  >
    <v-card-text>
      {{ $vuetify.lang.t('$vuetify.chooseLang') }}
      <v-radio-group v-model="selectedLang" row>
        <v-radio
          v-for="lang in languages"
          :key="lang"
          :label="lang"
          :value="lang"
        ></v-radio>
      </v-radio-group>
    </v-card-text>

    <v-card-text>
      <v-autocomplete
        v-model="city"
        :label="$vuetify.lang.t('$vuetify.chooseCity')"
        item-text="title"
        item-value="id"
        return-object
        :items="cities"
        :search-input.sync="searchValue"
        :loading="loading"
        persistent-hint
        hide-no-data
        no-filter
        :error-messages="getErrorMessage"
        @input="selectCity"
      >
        <template v-slot:append-outer>
          <v-slide-x-reverse-transition mode="out-in">
            <v-icon
              :key="`icon-true`"
              color="info"
              @click="findCity"
              v-text="'mdi-file-search-outline'"
            ></v-icon>
          </v-slide-x-reverse-transition>
        </template>
      </v-autocomplete>
    </v-card-text>

    <PreviousCities
      :previous-cities="getReversedPreviousCities"
      :city="city"
      @selectPreviousCity="selectPreviousCity"
    />

    <WeatherInfo :info="city" />
  </v-card>
</template>
<script lang="ts">
import { defineComponent, ref, reactive } from '@vue/composition-api'
import WeatherInfo from '../components/WeatherInfo.vue'
import PreviousCities from '../components/PreviousCities.vue'
import City from '@/models/city'
import { CityRequest } from '@/models/city/CityRequest'
import { WeatherRequest } from '@/models/weather/WeatherRequest'
import WeatherService from '../services/WeatherService'

const weatherService = new WeatherService()

export default defineComponent({
  name: 'HomePage',
  components: {
    WeatherInfo,
    PreviousCities,
  },
  setup() {
    const loading = ref(false)
    const searchValue = ref('')
    const city: City = reactive(new City())
    const cities: Array<City> = reactive([])
    const errorMessage = ref('')
    const languages = ['ru', 'en']
    const selectedLang = ref(languages[0])

    const previousCities: Array<City> = reactive(weatherService.getSavedCity())

    return {
      loading,
      searchValue,
      city,
      cities,
      weatherService,
      errorMessage,
      languages,
      selectedLang,
      previousCities,
    }
  },
  watch: {
    selectedLang(lang: string) {
      this.$vuetify.lang.current = lang
      this.selectPreviousCity(this.city)
    },
  },
  computed: {
    getErrorMessage() {
      return this.errorMessage
        ? this.$vuetify.lang.t(`$vuetify.${this.errorMessage}`)
        : ''
    },
    getReversedPreviousCities(): Array<City> {
      return this.previousCities.reverse()
    },
  },
  methods: {
    async findCity() {
      this.clearErrorText()

      if (!this.searchValue?.length) {
        this.errorMessage = 'lengthValueError'
        return
      }
      const request: CityRequest = {
        cityName: this.searchValue,
        lang: this.selectedLang,
      }

      this.loading = true
      const response = await weatherService
        .getCitiesByName(request)
        .finally(() => (this.loading = false))

      if (response.cod === '200') {
        const cities = response.list
        if (cities?.length === 0) this.errorMessage = 'notFoundMessage'
        this.cities = cities
      } else this.errorMessage = response.message
    },
    async selectPreviousCity(city: City): Promise<void> {
      const request: WeatherRequest = {
        id: city.id,
        lang: this.selectedLang,
      }
      this.loading = true

      const response = await weatherService
        .getWeatherByCityId(request)
        .finally(() => (this.loading = false))

      if (response.cod === 200) {
        const city = response
        this.cities = [city]
        this.city = city
        this.searchValue = city.title
        if (city) this.clearErrorText()
      } else this.errorMessage = response.message || ''
    },
    savePreviousCityRequests(city: City): void {
      if (city) {
        this.previousCities.push(city)
        weatherService.saveCities(this.previousCities)
      }
    },
    selectCity(city: City) {
      this.savePreviousCityRequests(city)
    },
    clearErrorText(): void {
      this.errorMessage = ''
    },
  },
})
</script>
<style lang="scss">
.previous-item {
  cursor: pointer;
  padding: 5px;
  &:hover {
    background: rgb(235, 235, 235);
  }
}
</style>
