<template>
  <v-card-text v-if="previousCities.length">
    {{ $vuetify.lang.t('$vuetify.previousSelectedCity') }}
    <v-divider />
    <div
      v-for="(previousCity, index) in previousCities"
      :key="previousCity.id + index"
      @click="$emit('selectPreviousCity', previousCity)"
      class="my-2 text-subtitle-1 previous-item"
    >
      <div>{{ previousCity.name }}</div>
    </div>
    <v-divider v-if="city && city.id" />
  </v-card-text>
</template>
<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'WeatherInfo',
  props: {
    previousCities: {
      type: Array,
      default: () => [],
    },
    city: {
      type: Object,
      default: () => ({}),
    },
  },
})
</script>
