<template>
  <div v-if="info && info.id">
    <v-card-title>{{ info.name }}</v-card-title>
    <v-divider class="mx-4"></v-divider>
    <v-card-title v-if="info.main.temp">{{ info.main.temp }}°C</v-card-title>
    <v-card-text v-if="info.main.temp_max" class="item"
      >{{
        `${$vuetify.lang.t('$vuetify.tempMax')} : ${info.main.temp_max}`
      }}°C</v-card-text
    >
    <v-card-text v-if="info.main.temp_max" class="item"
      >{{
        `${$vuetify.lang.t('$vuetify.tempMin')} : ${info.main.temp_min}`
      }}°C</v-card-text
    >
    <v-card-text v-if="info.main.pressure" class="item">{{
      `${$vuetify.lang.t('$vuetify.pressure')} : ${info.main.pressure}`
    }}</v-card-text>
    <v-card-text v-for="weather in info.weather" :key="weather.id" class="item">
      {{ `${$vuetify.lang.t('$vuetify.feelsLike')} ${info.main.feels_like} °C`
      }}<span v-if="weather.description">, {{ weather.description }}</span>
    </v-card-text>
    <v-card-text v-if="info.main.humidity" class="item">
      {{ $vuetify.lang.t('$vuetify.humidity') }}: {{ info.main.humidity }}%
    </v-card-text>
  </div>
</template>
<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'WeatherInfo',
  props: {
    info: {
      type: Object,
      default: () => ({}),
    },
  },
})
</script>
<style lang="scss" scoped>
.item {
  padding-bottom: 2px;
}
</style>
